@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700;900&display=swap");

// color-page
$background-main: #d0bfff;
$background-second: #beadfa;
$text-color: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: $text-color;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: $background-main;
  max-width: 1440px;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

// navbar-page start

.menu-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .logo-resume {
    width: 120px;
  }

  .menu-bars {
    font-size: 1.8rem;
    cursor: pointer;
    transition: 250ms ease-in;
    &:hover {
      transform: scale(1.1);
    }
  }
  .menu-selection {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba($color: $background-second, $alpha: 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.8rem;

    .close-bars {
      display: block;
      text-align: right;
      padding: 0.5rem;
      font-size: 1.3rem;
      cursor: pointer;
      &:active {
        transform: scale(0.98);
      }
    }
    .link-menu {
      margin: 5px;
      .menu-navbar {
        padding: 0.8rem 0;
        font-size: 1.1rem;
        font-weight: 700;
        &:hover {
          border: 1px solid #000;
          border-radius: 10px;
        }
      }
    }
  }
}

//navbar-page end

//header-page start
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 4rem;

  .header_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    h1 {
      font-size: 3rem;
      font-weight: 500;
    }

    .header_career {
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }
    .header_info {
      padding: 1rem;
      letter-spacing: 1px;
    }
  }

  .header_image {
    position: relative;
    width: 350px;
    height: 350px;
    background-image: url("../asset/image/ImageMain3.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 12%;
      width: 280px;
      height: 280px;
      background-color: $background-second;
      border-radius: 50%;
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 30%;
      left: 20%;
      width: 280px;
      height: 280px;
      background-color: rgba($color: #fff, $alpha: 0.3);
      border: 2px dashed $background-second;
      border-radius: 50%;
      z-index: -2;
    }
  }
}
// header-page end

//preview-page start
.preview {
  width: 100%;
}
//preview-page end

//portfolio-page start
.portfolio {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .portfolio_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .portfolio_selection {
      display: flex;
      cursor: pointer;
      .menu-port {
        padding: 0.8rem;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  .portfolio_works {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    .port_work {
      display: none;
      width: 250px;
      height: 250px;
      background-color: #000;
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);

      .port_video {
        width: 250px;
        height: 250px;
        object-fit: cover;
        object-position: center center;
      }
      .port_image {
        width: 250px;
        height: 250px;
        object-fit: cover;
        object-position: center center;
      }
    }
    .port_work:nth-child(1),
    .port_work:nth-child(2),
    .port_work:nth-child(3) {
      display: block;
    }
  }
  .load_more {
    margin-top: 2rem;
    display: block;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
    background-color: $background-second;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    &:active {
      transform: scale(0.98);
    }
  }
}

//portfolio-page end

//experiences-page start
.experiences {
  .experience_title {
    padding: 1rem 0;
    text-align: center;
  }
  .timeline {
    display: flex;
    justify-content: center;
    .timeline_container {
      position: relative;
    }
    .timeline_line {
      position: absolute;
      left: 50%;
      border-left: 2px solid $background-second;
      height: 100%;
    }
    .timeline_area {
      margin-left: 1rem;
      margin-bottom: 2.5rem;
      .timeline_circle {
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        background-color: $background-second;
        border-radius: 50px;
        left: 48%;
      }
      .timeline_content {
        position: relative;
        background-color: rgba($color: $background-second, $alpha: 0.9);
        border-radius: 5px;
        font-size: 18px;
        padding: 1rem;
        top: 1.5rem;
        text-align: center;
        &.left {
          top: 1.5rem;
          right: 0.4rem;
        }
        &.right {
          top: 1.5rem;
          right: 0.4rem;
        }
        & p {
          &:nth-child(2) {
            font-weight: 700;
            margin: 0.3rem 0;
          }
        }
      }
    }
  }
}
//experiences-page end

//contact-page start
.contact {
  margin: 4rem;
  .contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .contact_info_container {
      .contact_info {
        text-align: center;
        margin: 1rem 0;
        padding: 2rem;
        background-color: $background-second;
        border-radius: 10px;
        .icons-contact {
          width: 35px;
        }
        p {
          font-weight: 700;
        }
      }
    }
    .form_contact {
      width: 350px;
      form {
        input {
          width: 100%;
          margin-bottom: 0.8rem;
          padding: 0.5rem 0.8rem;
          outline: none;
          font-size: 16px;
          border: 2px solid $background-second;
          box-shadow: 0 2px 8px rgba($color: #fff, $alpha: 0.5);
          border-radius: 5px;
          color: #000;
          background-color: rgba($color: $background-second, $alpha: 0.3);
        }
        textarea {
          width: 100%;
          margin-bottom: 0.8rem;
          padding: 0.5rem 0.8rem;
          outline: none;
          font-size: 16px;
          border: 2px solid $background-second;
          box-shadow: 0 2px 8px rgba($color: #fff, $alpha: 0.5);
          border-radius: 5px;
          color: #000;
          background-color: rgba($color: $background-second, $alpha: 0.3);
        }
      }
      .send_btn {
        width: 100%;
        margin-top: 0.25rem;
        text-align: center;
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 0.5rem 0.8rem;
        background-color: $background-second;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
}
.social {
  display: flex;
  justify-content: center;
  .social_container {
    box-shadow: 0 0 12px rgba($color: #fff, $alpha: 0.5);
    padding: 2rem 1rem;
    border: 2px solid $background-second;
    border-radius: 100%;

    .social_title {
      text-align: center;
      p {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
    .social_icons img {
      margin-top: 1rem;
      margin-right: 0.5rem;
      width: 25px;
      cursor: pointer;
    }
  }
}
.copyright {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  border-top: 2px solid $background-second;
  & p {
    color: rgba($color: $text-color, $alpha: 0.7);
  }
}
//contact-page end

@media screen and (min-width: 768px) {
  .menu-container {
    align-items: center;

    .logo-resume {
      width: 100px;
    }

    .menu-bars {
      display: none;
    }
    .menu-selection {
      position: static;
      transform: translateY(0);
      text-align: center;
      text-transform: uppercase;
      background-color: transparent;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 0;

      .menu-resume {
        display: flex;
        justify-content: flex-end;
      }
      .close-bars {
        display: none;
      }
      .link-menu {
        margin: 5px;
        .menu-navbar {
          padding: 0.8rem;
          font-size: 1.1rem;
          &:hover {
            border: none;
            background-color: $background-second;
            border-radius: 10px;
          }
        }
      }
    }
  }

  .portfolio {
    .portfolio_works {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .port_work:nth-child(4) {
        display: block;
      }
    }
  }
  .contact {
    .contact_container {
      flex-direction: row;
      justify-content: space-around;
      .contact_info_container {
        padding: 0 2rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row-reverse;
    justify-content: space-around;
    .header_description {
      margin-top: 0;

      .header_info {
        text-align: center;
        width: 450px;
      }
    }
  }

  .portfolio {
    .portfolio_works {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .port_work:nth-child(5),
      .port_work:nth-child(6) {
        display: block;
      }
    }
  }

  .experiences {
    .timeline {
      .timeline_area {
        .timeline_content {
          &.left {
            right: 10rem;
            text-align: right;
          }
          &.right {
            right: -10rem;
            text-align: left;
          }
        }
      }
    }
  }

  .contact {
    .contact_container {
      flex-direction: row;
      justify-content: space-around;
      .contact_info_container {
        padding: 0;
      }
    }
  }
}

// reveal
.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s all ease;
  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}
