@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: #675d50;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: #f8ede3;
}

ul {
  display: flex;
}
ul li {
  list-style: none;
  margin: 0 1rem;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s all ease-in;
}
ul li:hover {
  color: #fff;
  background-color: #675d50;
}
ul li:active {
  transform: scale(0.9);
}
ul li.active {
  color: #fff;
  background-color: #675d50;
}
ul a {
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 999;
  transition: 0.3s all ease;
}
.navbar .navbar_selection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5rem;
}
.navbar .navbar_image img {
  width: 120px;
}
.navbar .navbar_selection_mobile {
  display: none;
}
.navbar .cv-btn {
  display: block;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  color: #fff;
  background-color: #675d50;
  font-weight: 700;
  cursor: pointer;
}
.navbar .cv-btn:active {
  transform: scale(0.98);
}

.navbar_BG {
  transition: 1s all ease-in;
  background: rgba(103, 93, 80, 0.3);
}
.navbar_BG li {
  color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10rem;
}
.header .header_description {
  margin-right: 5rem;
}
.header .header_description h1 {
  font-size: 4.5rem;
  font-weight: 500;
}
.header .header_description .header_career {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.header .header_description .header_info {
  max-width: 500px;
  text-align: justify;
}
.header .header_image {
  position: relative;
  width: 420px;
  height: 385px;
  background-image: url("../image/ImageMain3.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header .header_image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 320px;
  height: 320px;
  background-color: #675d50;
  border-radius: 50%;
  z-index: -1;
}
.header .header_image::after {
  content: "";
  position: absolute;
  bottom: 30%;
  left: 35%;
  width: 320px;
  height: 320px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px dashed #675d50;
  border-radius: 50%;
  z-index: -2;
}

.preview {
  width: 100%;
}

.portfolio {
  margin: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio .portfolio_container {
  width: 100%;
  height: 80px;
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #675d50;
}
.portfolio .portfolio_works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.portfolio .portfolio_works .port_work {
  display: none;
  width: 300px;
  height: 300px;
  background-color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.portfolio .portfolio_works .port_work .port_video {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center center;
}
.portfolio .portfolio_works .port_work .port_image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center center;
}
.portfolio .portfolio_works .port_work:nth-child(1),
.portfolio .portfolio_works .port_work:nth-child(2),
.portfolio .portfolio_works .port_work:nth-child(3),
.portfolio .portfolio_works .port_work:nth-child(4),
.portfolio .portfolio_works .port_work:nth-child(5),
.portfolio .portfolio_works .port_work:nth-child(6) {
  display: block;
}
.portfolio .load_more {
  margin-top: 2rem;
  display: block;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  background-color: #675d50;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.portfolio .load_more:active {
  transform: scale(0.98);
}

.experiences {
  width: 100%;
}
.experiences .experience_title {
  padding: 2rem 0;
  text-align: center;
}
.experiences .timeline {
  display: flex;
  justify-content: center;
}
.experiences .timeline .timeline_container {
  position: relative;
}
.experiences .timeline .timeline_line {
  position: absolute;
  left: 50%;
  border-left: 2px solid #675d50;
  height: 100%;
}
.experiences .timeline .timeline_area {
  margin-left: 1rem;
  margin-bottom: 2.5rem;
}
.experiences .timeline .timeline_area .timeline_circle {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #675d50;
  border-radius: 50px;
  left: 48%;
}
.experiences .timeline .timeline_area .timeline_content {
  position: relative;
  border: 2px solid #675d50;
  border-radius: 5px;
  font-size: 18px;
  padding: 1rem;
}
.experiences .timeline .timeline_area .timeline_content.left {
  right: 10rem;
  text-align: right;
}
.experiences .timeline .timeline_area .timeline_content.right {
  right: -9rem;
}
.experiences .timeline .timeline_area .timeline_content p:nth-child(2) {
  font-weight: 700;
  margin: 0.3rem 0;
}

.contact {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contact_container {
  margin-top: 1rem;
  width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact .contact_container .contact_info p {
  margin-bottom: 1.5rem;
  font-size: 18px;
}
.contact .contact_container .contact_info p img {
  margin-right: 0.8rem;
  width: 30px;
}
.contact .contact_container .contact_right {
  width: 450px;
}
.contact .contact_container .contact_right form {
  display: flex;
  flex-direction: column;
}
.contact .contact_container .contact_right form input {
  margin-bottom: 0.8rem;
  padding: 0.5rem 0.8rem;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #000;
}
.contact .contact_container .contact_right form textarea {
  margin-bottom: 0.8rem;
  padding: 0.5rem 0.8rem;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #000;
}
.contact .contact_container .contact_right form .send_btn {
  margin-top: 0.25rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  background-color: #675d50;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.contact .contact_container .contact_right form .send_btn:active {
  transform: scale(0.98);
}
.contact .contact_social {
  margin-top: 2.5rem;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  border: 2px solid #675d50;
  padding: 4rem 2rem;
}
.contact .contact_social .contact_social_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contact_social .contact_social_title p {
  font-size: 1.8rem;
  font-weight: 700;
}
.contact .contact_social .contact_social_icons img {
  margin-top: 1.5rem;
  margin-right: 0.5rem;
  width: 25px;
  cursor: pointer;
}
.contact .copyright {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  border-top: 2px solid #675d50;
}
.contact .copyright p {
  color: rgba(103, 93, 80, 0.7);
}

@media screen and (max-width: 960px) {
  .header {
    width: 90%;
  }
  .header .header_image {
    width: 440px;
  }
  .header .header_description {
    margin: 0;
    padding: 1rem;
  }
  .header .header_description h1 {
    font-size: 4rem;
  }
  .portfolio .portfolio_container {
    padding: 2rem 5rem;
  }
  .portfolio .portfolio_works {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact .contact_container {
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    position: static;
  }
  .navbar .navbar_selection {
    display: none;
  }
  .navbar .navbar_selection_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    margin: 0 auto;
  }
  .navbar .navbar_selection_mobile .selection_mobile_container .menu_mobile {
    display: block;
    margin: 1rem;
    font-size: 25px;
    cursor: pointer;
  }
  .navbar .navbar_selection_mobile .selection_mobile_container .menu_mobile:active {
    transform: scale(0.89);
  }
  .navbar .navbar_selection_mobile .selection_mobile_container .menu_selection {
    position: absolute;
    top: 3.5rem;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(103, 93, 80, 0.7);
    border: 2px solid #675d50;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
    z-index: 999;
  }
  .navbar .navbar_selection_mobile .selection_mobile_container .menu_selection li {
    color: #fff;
    margin: 0;
  }
  .navbar .navbar_selection_mobile .selection_mobile_container .menu_selection .cv-btn {
    display: block;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.5rem 0.8rem;
    color: #fff;
    background-color: #675d50;
    font-weight: 700;
    cursor: pointer;
  }
  .header {
    margin-top: 3rem;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .header .header_description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .header_description .header_info {
    text-align: start;
    max-width: 720px;
  }
  .header .header_description h1 {
    font-size: 3rem;
  }
  .header .header_image {
    width: 420px;
  }
  .portfolio .portfolio_container {
    padding: 2rem 2rem;
  }
  .contact .contact_container {
    flex-direction: column;
    width: 0;
  }
}
@media screen and (max-width: 480px) {
  .navbar .navbar_selection_mobile {
    width: 60%;
  }
  .header .header_image::before {
    width: 300px;
    height: 300px;
  }
  .header .header_image::after {
    bottom: 25%;
    left: 32%;
    width: 300px;
    height: 300px;
  }
  .portfolio .portfolio_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
  }
  .portfolio .portfolio_works .port_work {
    width: 180px;
    height: 180px;
  }
  .portfolio .portfolio_works .port_work .port_video {
    width: 180px;
    height: 180px;
  }
  .portfolio .portfolio_works .port_work .port_image {
    width: 180px;
    height: 180px;
  }
  .experiences .timeline_content {
    top: 1.5rem;
    left: -0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #675d50;
  }
  .experiences .timeline_content p {
    color: #fff;
  }
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
